@{
    ViewData["Title"] = "Home Page";
}
@model RPG.Models.Character

<h1>Welcome to the Game</h1>
<hr />
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Play", "Current", "Location", new { id = Model.LocationId })
}
else
{
    @Html.ActionLink("Log In", "Login", "Account")
}
